.or-navbar-discovery{
  @extend %navbar;
  padding: 0 $size_1x * 10.5 0 $size_1x * 10;
  position: relative;
  height: $size_1x * 5;
  &.menu-fixed{
    @extend %menu-fixed;
  }
  .navbar-brand{
    @extend %navbar-brand;
    img {
      max-width: 60px;
      max-height: 36px;
    }
    .dropdown-menu-button{
      .ic-burguer{
        margin-top: -3px;
        &:before{
          padding: 0;
        }
      }
      .ic-cerrar{
        padding-top: 5px;
      }
    }
    .at-logo-image{
      width: $size_1x * 5;
      margin: 8px 12px 12px 0;
    }
  }
  .ml-primary-navigation{
    @extend %navbar-navigation;
    vertical-align: top;
    width: auto;
    .dropdown{
      [class^="ic-"] {
        display: none;
      }
      > .at-link{
        color: $neutral_1;
        font-weight: normal;
        line-height: 3.75rem;
        &:after{
          content: "";
          width: 1px;
          height: 18px;
          background: $primary_3;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -9px;
          visibility: initial;
        }
        &:before{
          content: "";
          opacity: 0;
          position: absolute;
          bottom: -11px;
          left: 50%;
          margin-left: -7px;
          width: 14px;
          height: 14px;
          background: $neutral_1;
          transform: rotate(45deg);
        }
      }
      &:last-child{
        .at-link{
          &:after{
            content: none;
          }
        }
      }
      .at-card-medium-emphasis{
        display: none;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        padding: 0 $size_1x * 8;
        max-width: 100%;
        top: 100%;
        .at-link{
          display: inline-block;
          color: $neutral_2;
          font-size: $font_3x;
          &:hover, &:active, &:focus{
            background: none;
            font-weight: bold;
          }
        }
        .sub-header{
          display: none;
        }
      }
      &.is-active{
        .at-card-medium-emphasis{
          display: block;
        }
      }
    }
  }
  .navbar-collapse{
    @extend %navbar-collapse;
    float: right;
    margin: 6px 0;
    .dropdown{
      .at-link{
        font-size: $font_3x;
        i{
          float: right;
          margin: 0;
          border-radius: 100%;
          padding: 9.5px;
          &:before{
            color: $neutral_1;
            font-size: $font_13x;
            margin: 0 auto;
          }
          &:hover{
            background: transparentize($primary_3, .7);
            &:before{
              color: $secundary_1;
            }
          }
          &.ic-expandir-mas{
            &:before{
              margin-left: $size_1x;
              font-size: $font_14x;
            }
          }
          .full{
            @extend %full-icon;
          }
        }
      }
      .at-card-medium-emphasis{
        margin-top: 6px;
      }
      &.username{
        padding: 10px $size_1x * 2;
        > .at-link{
          margin-top: 4px;
          i{
            padding: 0;
            &:hover{
              background: none;
              &:before{
                color: $neutral_1;
              }
            }
          }
        }
        .at-card-medium-emphasis{
          right: 10px;
          padding: 0;
          &:before{
            margin-top: -8px;
            margin-right: 14px;
          }
          .at-link{
            display: flex;
            align-items: center;
            width: calc(100% - #{$size_1x * 2});
            &:hover{
              background: transparentize($primary_1, .9);
              color: $primary_1;
              font-weight: bold;
            }
            i{
              float: left;
              padding: 0;
              margin: 0 12px 0 0;
              &:before{
                color: $primary_1;
              }
              &:hover{
                background: none;
              }
            }
            &.sing-out{
              background: transparentize($neutral_2, .9);
              i{
                &:before{
                  color: $neutral_2;
                }
              }
              &:hover{
                background: transparentize($primary_1, .9);
              }
            }
          }
        }
      }
    }
    .ml-basic-search{
      position: absolute;
      right: $size_1x * 10.5;
      left: auto;
      width: 60%;
      top: 50%;
      margin-top: -18px;
      display: none;
      transition: $transition_1;
      i{
        &:before{
          color: transparentize($neutral_1, .5);
          font-size: $font_15x;
        }
      }
    }
  }
  @include for-tablet{
    padding: 0 $size_1x;
    .navbar-brand{
      .at-logo-image{
        margin: $size_1x;
      }
    }
    .ml-primary-navigation{
      display: none;
      background: $neutral_1;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      box-shadow: $shadow_1;
      .dropdown{
        text-align: center;
        border-right: .5px solid transparentize($neutral_2, .7);
        &:last-child {
          border-right: none;
        }
        [class^="ic-"] {
          display: block;
          float: none;
          margin: 0;
          &:before{
            font-size: $font_11x;
            color: $primary_1;
          }
        }
        .at-link{
          color: $neutral_2;
          font-size: $font_18x;
          padding: $size_1x;
          display: block;
          line-height: 1.5rem;
          &:hover, &:active, &:focus{
            background: transparentize($primary_1, .9);
            font-weight: bold;
            font-size: $font_19x;
            color: $primary_1;
          }
          &:after, &:before{
            content: none;
          }
        }
        .at-card-medium-emphasis {
          top: 0;
          z-index: 10;
          text-align: left;
          padding: 0;
          max-width: 100%;
          .sub-header{
            display: block;
            .back {
              background: transparentize($primary_1, .9);
              padding: $size_1x 0;
              font-weight: bold;
              text-transform: uppercase;
              line-height: 1.2rem;
              [class^="ic-"]{
                float: left;
                margin-top: -7px;
                margin-right: 6px;
              }
            }
          }
          .at-font-em{
            color: transparentize($primary_1, .6);
            font-size: $font_3x;
            padding: $size_1x * 2;
            padding-bottom: $size_1x;
            text-transform: uppercase;
          }
          .at-link{
            display: block;
            font-size: $font_19x;
            padding-left: $size_1x * 3;
            &:nth-child( 2n ){
              border-bottom: .5px solid transparentize($neutral_2, .7);
            }
            &:hover{
              font-weight: normal;
            }
          }
        }
      }
    }
    .navbar-collapse{
      .ml-basic-search{
        right: calc(48px + #{$size_1x});
        width: 60%;
        left: auto;
      }
    }
  }
  @include for-mobile{
    .ml-primary-navigation{
      .at-element-list{
        display: flex;
        overflow: hidden;
        white-space: normal;
        .dropdown{
          border-bottom: .5px solid transparentize($neutral_2, .7);
          &:nth-child( 3n ){
            border-right: none;
          }
        }
      }
    }
    .navbar-collapse{
      .ml-basic-search{
        button{
          padding: 0 $size_1x;
        }
      }
    }
  }
  @include for-mobile-s{
    .ml-basic-search{
      width: 56%;
    }
  }
  @include for-mobile-landscape{
    .ml-primary-navigation{
      .at-element-list{
        white-space: nowrap;
        overflow-x: scroll;
        display: block;
        .dropdown{
          display: inline-block;
          overflow: hidden;
          width: 28%;
          float: none;
          vertical-align: top;
          &:nth-child( 3n ){
            border-right: .5px solid transparentize($neutral_2, .7);
          }
        }
      }
    }
  }
}
