%mlgic {
  text-align: center;
}
%mlgic-at-avatar-image {
  height: $size_1x * 15;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $size_1x * 2;
}
%mlgic-owl-carousel {
  width: $size_1x * 15;
}
%mlgic-at-font-h4 {
  margin-bottom: $size_1x;
}